<div class="row">
  <div class="{{getClass(GROUPS.length-1)}}" *ngFor="let group of GROUPS">
    <div class="card">
      <h5 class="card-header">{{group.name}}</h5>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Team</th>
            <th scope="col">Punkte</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let team of group.teams; let i = index">
            <th scope="row">{{(i+1)}}. Platz</th>
            <td>{{team.name}}</td>
            <td>{{team.points}}</td>
          </tr>
          <tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
