@import "~bootstrap/scss/bootstrap";
// navbar
.navbar-brand {
  box-sizing: content-box;
  height: 40px;
  line-height: 40px;
  img {
    padding: 0;
    height: 40px;
    line-height: 40px;
  }
  span {
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
  }
}
.nav-link {
  line-height: 40px;
}
nav {
  background-color: map-get($colors,"white");
}
