<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img alt="logo of vTurn-client" src="./assets/logo.png">
      <span class="ps-2">vTurn</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            Übersicht
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" aria-disabled="true">
            <!--                TODO: Show if match is running-->
            Aktuelles Spiel
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Gruppen und Spiele
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar End -->
