<body>
  <div class="content">
    <app-app-header></app-app-header>
    <!--=====================================================-->
    <!-- Content -->
    <div class="container-md">
      <div class="row">
        <div class="col-xl-6 col-lg-12">
          <div class="card">
            <h5 class="card-header">Nächste Spiele</h5>
            <div class="card-body">
              <app-game-upcoming></app-game-upcoming>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <div class="card">
            <h5 class="card-header">Vergangene Spiele</h5>
            <div class="card-body">
              <app-game-passed></app-game-passed>
            </div>
          </div>
        </div>
      </div>
      <app-group-overview></app-group-overview>
    </div>
    <!-- Content End -->
  </div>
  <!-- ======================================== -->
  <app-app-footer></app-app-footer>
</body>
