<table class="table table-games-upcoming">
  <thead>
  <tr>
    <th scope="col">Uhrzeit</th>
    <th scope="col">Heim</th>
    <th scope="col">Gast</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let game of GAMES">
    <th scope="row">{{game.getClock()[0]}}<span class="paddSpan">:</span>{{game.getClock()[1]}} Uhr</th>
    <td>{{game.home}}</td>
    <td>{{game.guest}}</td>
    <td><a href="#" class="btn {{getButton(game.liveGame)[0]}} btn-sm btn-app-upcoming">{{getButton(game.liveGame)[1]}}</a></td>
  </tr>
  </tbody>
</table>
<button class="btn btn-link btn-app-loadMore" (click)="loadMore()">Mehr anzeigen</button>
