.paddSpan {
  padding-right: 2px;
  padding-left: 2px;
}

.table-games-upcoming {
  td:last-child {
    width: min-content;
    width: -moz-min-content;
  }
  th:first-child {
    width: min-content;
    width: -moz-min-content;
  }
}

.btn-app-upcoming {
  width: available;
  width: -moz-available;
}

.btn-app-loadMore {
  display: block !important;
  margin: auto;
}
