<table class="table">
  <thead>
  <tr>
    <th scope="col">Uhrzeit</th>
    <th scope="col">Heim</th>
    <th scope="col">Gast</th>
    <th scope="col">Ergebnis</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let game of GAMES">
    <th scope="row">{{game.getClock()[0]}}<span class="paddSpan">:</span>{{game.getClock()[1]}} Uhr</th>
    <td>{{game.home}}</td>
    <td>{{game.guest}}</td>
    <td class="result">
      <div>
        <p>{{game.liveGame.scoreHome}}</p><p>:</p><p>{{game.liveGame.scoreGuest}}</p>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<button class="btn btn-link btn-app-loadMore" (click)="loadMore()">Mehr anzeigen</button>
